{{define "tagcloud-snippet"}}
<section class="tagcloud">
{{if .TagCloud}}
	<h1>Tag Cloud</h1>

	<div class="tags">
	{{range .TagCloud}}
	<span class="level-{{.Level}}">
		<a href="{{.Route}}">{{.Name}}</a>
	</span>
	{{end}}
	</div>
{{end}}
</section>
{{end}}
